[submodule "bandeja-ros-src"]
	path = bandeja-ros-src
	url = https://github.com/MobileRoboticsSkoltech/bandeja-ros-src
[submodule "bandeja-wrapper"]
	path = bandeja-wrapper
	url = https://github.com/MobileRoboticsSkoltech/bandeja-wrapper
[submodule "bandeja-mcu-firmware"]
	path = bandeja-mcu-firmware
	url = https://github.com/MobileRoboticsSkoltech/bandeja-mcu-firmware
